@page "/sobre"

<h3>Sobre o autor</h3>

<div>
    <div class="imagem">
        <img src="https://virtual.ifro.edu.br/jiparana/pluginfile.php/225708/user/icon/boost_union/f1?rev=4623686" alt="Alternate Text" style="border-radius: 50%; " />
    </div>
     
    <p style="text-align:center">       
        Meu nome é Yuri Gabriel, estudo no IFRO – Campus Ji-Paraná. Curto bastante programar e criar coisas novas com código<br> 
        (especialmente usando Flutter!). No meu tempo livre, gosto de jogar jogos eletrônicos, praticar esportes e explorar o mundo da tecnologia.
    </p>
  
</div>

@code {

}
